*/*.go

build

cli/genome*
cli/cli.sh
cli/gff*
cli/hsEnr.txt
cli/hsGoSym.txt
cli/hs_iv.txt
cli/hsObsId.txt
cli/hs.cm

data/hs.*

doc/analysis.tex
doc/auger.aux
doc/auger.bbl
doc/auger.blg
doc/auger.dvi
doc/auger.log
doc/auger.pdf
doc/auger.ps
doc/auger.toc
doc/cli.tex
doc/date.txt
doc/g2g.tex
doc/merwin.tex
doc/util.tex
doc/version.txt

g2g/*.awk
g2g/*.gene2go
g2g/*.sh
g2g/*.txt
g2g/check*.out
g2g/gene2go
g2g/genomic.gff
g2g/gff*
g2g/go-basic.obo
g2g/hs.g2g
g2g/hs.gff
g2g/human.emapper.annotations
g2g/protein*


merwin/merwin